$Gris: #66666E;
$Rouge: #B60D17;
$Jaune: #FFEB32;
$Grey : #E2E2E2;


.backgroundCasaPresentation{
    background-color: $Grey;
}

.ligneTitre{
    width: 7.3em;
}

.photoPaolo{
    width: 10em;
}

.photoRestauration{
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.photoCasa5{
    width: 20em;
}

.photoEquipe{
    width: 20em;
}