
*{
  font-family: 'Rubik', sans-serif;
}

.App{
  background-image:url("./Images/logoBenficaFond.png");  
  background-position-y: 40em;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: center;
  background-color: rgb(226,226,226);
}

@media (max-width: 767.98px) { 
  .App{
    background-repeat: repeat;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
